body {
    font-family: 'Times New Roman', Times, serif;
    background: pink;
     text-align: center;
}
h1, h2 {
    color: brown;
}
.container {
    width: 90%;
    max-width: 650px;
    margin: auto;
}
.card {
   background-color: transparent;
    width: 100%;
    height: 130px;
 perspective: 1200px;
    margin: 20px 0;
}
.card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform 0.7s ease;
    transform-style: preserve-3d;
}
.card:hover .card-inner {
    transform: rotateY(180deg);
}
.card-front, .card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 15px;
    backface-visibility: hidden;
   
}